<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Update' : 'Add' }} Product</ion-title>
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>

      <ion-buttons slot="end" *ngIf="isEditMode">
          <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]='form'>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea position="floating">Description</ion-textarea>
        <ion-input formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input formControlName="price"></ion-input>
      </ion-item>
      <!--
        <ion-item>
        <ion-label position="floating">Photo</ion-label>
        <ion-input formControlName="photo"></ion-input>
      </ion-item>
      -->

      <ion-button expand="block" (click)="submitProduct( )" [disabled]="form.invalid">
        {{ isEditMode ? 'Update' : 'Save' }} product
      </ion-button>
    </form>
</ion-content>
